# requirements.txt — use latest versions (no version pins)

# MkDocs and plugins
mkdocs
mkdocs-material
mkdocs-minify-plugin

# Additional plugins
pymdown-extensions
markdown
Pygments

# Optional but useful
mkdocs-git-revision-date-localized-plugin
mkdocs-awesome-pages-plugin

# Mermaid diagrams and pan zoom
mkdocs-mermaid2-plugin
mkdocs-panzoom-plugin
